# Ignore VSCode folder
.vscode/*

# Ignore everything in data except for the example recipe, the default image, and the README
data/*
!README.md
!data/thumb/Missing Image.png
!data/recipes/Example Recipe.md

# Ignore any caches anywhere
**/__pycache__/
**/.pytest_cache/